     <!-- Final CTA section -->
     <section class="cta">
      <div class="container">
          <div class="cta-content">
              <h2 class="animate-fade-in" #animateElement>ابدأ رحلتك مع proCare اليوم</h2>
              <p class="animate-fade-in" #animateElement>حمل التطبيق الآن واحصل على أفضل رعاية صحية في منزلك</p>
              <div class="app-buttons animate-slide-up" style="display: flex
              ;
                  gap: 1%;" #animateElement>
                  <a href="#" class="app-button">
                      <img src="assets/images/app-store.svg" alt="App Store">
                  </a>
                  <a href="#" class="app-button" >
                      <img src="assets/images/google-play.svg" alt="Google Play">
                  </a>
              </div>
              <div class="cta-features animate-slide-up" #animateElement>
                  <div class="cta-feature">
                      <span>✓</span>
                      <p>تحميل مجاني</p>
                  </div>
                  <div class="cta-feature">
                      <span>✓</span>
                      <p>خدمة 24/7</p>
                  </div>
                  <div class="cta-feature">
                      <span>✓</span>
                      <p>طاقم معتمد</p>
                  </div>
              </div>
          </div>
      </div>
  </section>
